@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <table class="table-bordered">
        <thead>
            <tr>
                <td>Fst</td>
                <td>Operation</td>
                <td>Sec</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.TextBox("fst")</td>
                <td>@Html.DropDownList("operation", new SelectList(new string[] { "+", "-", "*", "/" }))</td>
                <td>@Html.TextBox("sec")</td>
            </tr>
        </tbody>
    </table>
    <p><input type="submit" class="btn btn-default"  value="Result" /> </p>

    @ViewBag.Result;
}
